*{
    margin: 0;
    padding: 0;
     margin-left:auto;
    margin-right:auto; 
   
}


.navbar{
    margin-top:30px;
    background-color: white;
    display:flex;
    max-width: 1500px;
}
.nav-links{
    display:flex;
    list-style-type: none; 
    gap: 20px;
    color: #575757FF;
    font-size: 18px;
}
.btn{
    background-color: #1d4ed8FF;
    color:white;
    border:none;
    padding:15px 45px;
    cursor: pointer;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}





.banner{
background: linear-gradient( rgba(0, 0, 0, 0.6) ,rgba(0, 0, 0, 0.5) ),url('./assets/banner.jpg');
    margin-top: 20px;
     background-size: cover; 
    background-position: center;
   height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 300px;
    color: white;
}

.banner div h1{
    font-size: 80px;
    font-family: inter, sans-serif;
    font-weight: bold;
}
.banner div p{
    font-size: 25px;
    font-family: inter, sans-serif;
    max-width: 800px;
    padding: 25px 0;
}
.banner div .btn{
    height:75px;
    width: 280px;
    font-size: 25px;
    font-weight: bold;
}










.section3{
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    gap: 20px;

}
  .box{
   
   border: 1px solid rgb(221, 216, 216);
   margin: 20px;
   border-radius: 20px;
   
}
.section3 .box div{
    padding: 20px;
}

 .speakers{
    display :flex;
    flex-direction: row;
    /* margin: 10px; */
 }
 .heading{
    font-size: 60px;
    font-family: inter, sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
} 
  .section3 p{
    
    margin-bottom: 10px;
    margin-top: 10px;
}
.gray-lines{
   color:  #575757FF;
   font-size: 15px;
    font-family: inter, sans-serif;
}
.blue-lines{
    color:  #5353F2FF;
    font-size: 15px;
    font-family: inter, sans-serif;
}










.section4 .white-lines{
    color:  #FFFFFFFF;
    font-family: inter, sans-serif;
    
}

.section4 li{
    list-style-position: blue;
    font-size: 15px;
    font-family: inter, sans-serif;
   color: #333333FF;  
   padding: 10px 0;  
  
  
}

.section4 .speakers .box{
     margin: 15px;
    padding-left: 40px;
    padding-right: 80px;
    padding-top: 25px;
    padding-bottom: 25px;
    align-items: left; 
    
}
.button{
     display: flex; 
     justify-content: center; 
    margin-top: 15px;
    padding:10px 80px;
    border-radius: 7px;
   font-size: 15px;
   font-weight: bold;
}
.button1{
     border: 1px solid #2563ebFF;
    background-color: white;
    color:  #2563ebFF;
    
}
.button2{
     border: 1px solid #2563ebFF;
    background-color: #2563ebFF;
    color: white;
}
.section5 img{
     height: 40px; ;
}
.section5 p{
    font-size: 15px;
}
.section5{
    margin-top: 60px;
   
}
.section5 .box{
    padding: 5px;
    margin: 10px;
    width: 400px;
    background-color: white;
}
.section5 .box div{
    padding: 8px;
}
.section5 .card{
    padding: 20px;
}